html, body{
	background-color: white;
	font-family: 'Questrial', sans-serif;
	overflow: hidden !important;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
body .cms {
	height: 100%;
	background-color: white;
}
.container {
	width: 100%;
	height: 95%;
}
.title{
	position: relative;
    padding-top: 2%;
    text-align: center;
    /* display: inline; */
}
.buttons{
	width: auto;
	color: #478dff !important;
}
.footer {
	position: absolute;
	display: block;
	text-align: center;
	border-top: 1px solid white;
	color: white;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	margin-top: -40px;
}

.errorMessage {
	position: relative;
	color: white !important;
	background-color: red;
	/*z-index: 5;*/
	opacity: 1;
	border-radius: 8px;
	padding: 3px 3px 3px 3px;
}
.fas {
	width: 30px;
	text-align: center;
}
.fab {
	width: 30px;
	text-align: center;
}
.sidenav {
  height: 100%;
  width: 14%;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #373535;
  overflow-x: hidden;
  transition: 1.2s;
  font-size: 17px;
  padding: 0px 10px 0px 10px;
  border-right: 4px solid #0FA0CE;
}
.sidenav a {
	display: block;
	background-color: #545050;
	padding: 11px 11px 11px 11px;
	border: 1px solid #010e23;
	text-decoration: none;
	color: white;
	text-align: left;
    padding-left: 20px;
    margin-bottom: 5px;
}

.sidenav .serv-if{
	display: block;
	background-color: #0FA0CE;
	padding: 0px 0px 0px 0px;
	border: 1px solid #0FA0CE;
	text-decoration: none;
	color: white;
	text-align: left;
    padding-left: 20px;
    margin-bottom: 5px;
}

.sidenav a:hover {
	color: #0FA0CE;
}
.sidenav a i {
	padding-right: 5px;
}

.sidenav img {
	display: block;
	padding: 17px 0px 16px 10px;
}

.sub {
	/*display: none;*/
    /* background-color: #0FA0CE; */
    padding: 0px 0px 0px 0px;
    /* border: 1.6px solid #0FA0CE; */
    text-decoration: none;
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 5px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
}
#sub {
	color: white;
}

.sub li {
    margin-right: 20px;
}
.sub .first {
	padding-top: 10px;
}
.active {
	display: block !important;
	color: #0FA0CE !important;
}

.test {
	border: 1px solid #0FA0CE;
}