#footer .footer-bottom, 
#footer .footer-bottom a  {
  color: #111;
}
.btn.btn-primary:hover, .btn-submit:hover {
    background-color: #00ff00;
}
a,
#home-slider .caption h1 span, 
#twitter-carousel .item span, 
#single-portfolio .close-folio-item:hover, 
.contact-info ul li a:hover{
  color: #00ff00;
}
a:hover, a:focus {
	color: #00ff00;
}
#portfolio .overlay,
.menu-bg,
.service-icon, 
.progress-bar.progress-bar-primary, 
.btn.btn-primary, 
.twitter-icon .clients-icon, 
.twitter-left-control:hover, .twitter-right-control:hover, 
.post-icon, 
.entry-header .date:after, 
.btn-loadmore:hover, 
.btn-submit,
#footer, 
.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover, 
.folio-overview a:hover {
  background-color:#00ff00;
}

.twitter-left-control:hover, 
.twitter-right-control:hover, 
.btn-loadmore:hover  {
	border: 1px solid #00ff00;
}

.caption .btn-start:hover, 
.left-control:hover, 
.right-control:hover {
	border-color: #00ff00;
}

.twitter-icon .clients-icon:after {
	border-color: #00ff00 transparent transparent;
}